.colors{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red{
    width: 200px;
    height: 200px;
    background-color: red;
    transition: all 10s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.green{
    width: 150px;
    height: 150px;
    background-color: green;
    transition: all 9s;    
    display: flex;
    justify-content: center;
    align-items: center; 
}

.blue{
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: all 8s; 
}
.colors:hover .red {
    transform: rotate(3600deg) 
}
.colors:hover .blue {
    transform: rotate(3600deg) 
}
.colors:hover .green {
    transform: rotate(3600deg) 
}
